.App {
  text-align: center;
}

body {
  display: flex !important;
  flex-direction: row !important;
  justify-content: center !important;
  align-content: center !important;
}

.icon {
  height: 70px;
  width: 70px;
}

.cold {

}

.card {
  margin-top: 10px;
}
.miniCard {
  height: 10%;
  width: 20%;
  display: flex;
  flex-direction: row;
  border: 1px solid black;
}

#root {

}

.dailyGroup {

}

.dailyMinis {
  height: 50px;
  font-size: 14px;
}

.dailyIcon {
  height: 70px;
  width: 70px;
}

#dayDiv {

}

#dayDivReturn {
  
}

#currentDiv {
  
}

#weekDiv {
  
}

#weekDivReturn {
 
}

#navbarDiv {
  
}

#weeklyBarDiv {
 
}