.App {
  text-align: center;
}

.icon {
  height: 70px;
  width: 70px;
}

.cold {

}

.card {
  margin-top: 10px;
}
.miniCard {
  height: 10%;
  width: 20%;
  display: flex;
  flex-direction: row;
  border: 1px solid black;
}

#root {
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
}

.dailyGroup {
  justify-content: space-between;
  display: flex;
  flex-direction: row;
}

.dailyMinis {
  height: 50px;
  font-size: 14px;
}

.dailyIcon {
  height: 70px;
  width: 70px;
}
